@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner {
        height: 300px;
    }

    .banner-content h1 {
        font-size: 2em;
    }

    .banner-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}